div{
    width: 150px;
    height: 50px;
}
.homediv
{
    background-color: violet;
    position: relative;
    top: 150px;
    left: 150px;
}

.aboutdiv
{
  background-color:violet;
  position: absolute;
  left: 125px;
  bottom: 125px;  
}
.contactdiv
{
    background-color: violet;
    position: absolute;
    left: 250px;
    bottom: 250px;
}